<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://natalfwk.gruposancorseguros.com/2.2.0/nf.min.css" />
    <script type="text/javascript" src="https://natalfwk-pre.gruposancorseguros.com/2.2.0/nf.min.js"></script>
    <title>@ViewData["Title"] - POC.FrontEnd</title>


</head>
<body>
    <header class="site-header" itemscope="" itemtype="http://schema.org/WPHeader">
        <div class="row" style="background-color: #0a4595;">
            <h1 class="col-xs-4 col-md-2">
                <span property="brand" class="sr-only" itemprop="headline">Sancor Seguros</span>
                <a href="https://www.sancorseguros.com.ar" itemprop="name" title="Sancor Seguros">
                    <img class="logo" src="https://corporate-site-content.gruposancorseguros.com/SSA/Content/marca-sancor-seguros.svg" alt="Sancor Seguros">
                </a>
            </h1>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - POC.FrontEnd</p>
        </footer>
    </div>

    <environment include="Development">
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
